TestScore.Repository/obj
TestScore.Domain/obj
TestScore.ConsoleApp/obj
TestScore.Api/obj
.idea
TestScore.ConsoleApp/bin
TestScore.Domain/bin
TestScore.Repository/bin
TestScore.Api/bin
TestScore.sln.DotSettings.user
