TestScore.Repository/obj
TestScore.Domain/obj
TestScore.ConsoleApp/obj
TestScore.Api/obj
.idea
TestScore.ConsoleApp/bin
TestScore.Domain/bin
TestScore.Repository/bin
TestScore.Api/bin
TestScore.sln.DotSettings.user
TestScore.Application/obj
TestScore.Infrastructure/obj
TestScore.Infrastructure/bin
TestScoring.Api/obj
TestScoring.Api/bin
TestScoring.ConsoleApp/bin
TestScoring.ConsoleApp/obj
TestScoring.Application/obj
TestScoring.Domain/obj
TestScoring.Infrastructure/bin
TestScoring.Infrastructure/obj
TestScoring.Domain/bin
